/*Estilos para index */
/*body*/
.body-background {
    background-color: rgb(228, 221, 221);
}
/*header*/

.header_class {
    background-color: $colorMarca;
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 60px;
    opacity: 0.9;
}

    .header_index {
            background-color: $colorMarca;
            width: 100%;
    
            opacity: 0.9;
        }
    .header-div {
                    background-color: $colorMarca;
                    position: relative;
                    height: 60px;
                    bottom: 1px;
                }
    .header-title {
                        font-family: $fuenteMarca;
                            top: 211px;
                            position: absolute;
                            font-size: 77px;
                            color: rgb(219, 175, 197);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
          .header-menu {
              display: flex;
              justify-content: space-around;
              padding-top: 15px;
              flex-direction: row;
          }
    
          .header-imgtext {
              position: relative;
    
              align-items: center;
          }
    
          .header-height {
              height: 60px;
              align-items: center;
          }
    
    
    
          
  

.a-JamIcon {
    font-size: 40px;
    position: absolute;
    display: none;
    text-decoration: none;
}
.item-cerrado {
    display: none;

    font-size: 30px;
}




a {
    font-family: "Montserrat", sans-serif;
    color: rgb(96, 94, 94);
    font-size: large;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    color: #f100e1;
}

.form-control2 {
    transition: all 1s;
    .form-control2:hover {
            background-color: #f0d3ed;
        }
}




.par-2 {
    color: black;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    text-align: inherit;
}




.button4 {
    padding: 0, 5rem;
    transition:
        /* background-color 1s, transform 1s;*/
        all 5s;
}

.button4:hover {
    padding: 1.5rem;
    background-color: rgb(155, 129, 151);
    transform: rotate(360deg);
}

.button-contacto {
    padding: 0.5rem;
}

.button-contacto:hover {
    transform: scale(1.3);
}



.img-central {
    height: 50%;
    width: 100%;
}

/* main*/

.main-margin {
    margin-left: 25px;
    margin-right: 25px;
}
    .main-position {
            margin-top: 50px;}
    
            .imgintermain {
                width: 100%;
                height: 550px;
            }
    
            .img-mains {
                width: 100%;
                height: 725px;
                padding-top: 60px;
                padding-bottom: 40px;
            }
        
                .main-proptext-titulo {
                    color: black;
                    font-size: 55px;
                    font-family: $fuenteMarca;
                    text-align: center;
                    padding-top: 50px;
                    margin-bottom: 50px;
                    text-decoration: underline;
                }
        
                .main-proptext-titulocat {
                    color: black;
                    font-size: 55px;
                    font-family: $fuenteMarca;
                    text-align: center;
                    padding-top: 100px;
                    margin-bottom: 50px;
                    text-decoration: underline;
                }
        
                .main-propiedades-texto2 {
                    color: black;
                    font-size: 40px;
                    font-family: $fuenteMarca;
                    text-align: center;
                }
        
                .main-propiedades-texto3 {
                    color: rgb(220, 167, 194);
                    font-size: 35px;
                    font-family: $fuenteMarca;
                    text-align: left;
                    text-decoration: underline;
                    margin-left: 30px;
                }
        
                .main-propiedades-texto4 {
                    color: rgb(96, 94, 94);
                    font-size: 20px;
                    font-family: $fuenteMarca;
                }
        
                .main-propiedades-texto4 label {
                    width: 100px;
                    display: inline-block;
                }
        
                .main-propiedades-texto5 {
                    color: black;
                    font-size: 22px;
                    font-family: $fuenteMarca;
                    text-align: center;
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                                
                        
                                .main-imgformflex {
                                    display: flex;
                                    justify-content: space-around;
                                }
                
                                .main-imgformflex01 {
                                    width: 320px;
                                    height: 464px;
                                }
                
                                .mainprop-button {
                                    color: black;
                                    font-size: 13px;
                                    font-family: $fuenteMarca;
                                    background-color: rgb(216, 166, 191);
                                    border-radius: 10px;
                                    padding: 5px 10px 5px 10px;
                                    margin-top: 20px;
                                    text-transform: uppercase;
                                    margin-bottom: 10px;
                                }
                                                                .main-form {
                                                                    background-color: rgb(198, 177, 188);
                                                                    border-style: solid;
                                                                    border-color: rgb(152, 144, 144);
                                                                    margin-top: 35px
                                                                }



p {
    color: black;
    font-size: 25px;
    font-family: "Montserrat", sans-serif;
    text-align: justify;

    margin-bottom: 30px;
    padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}


.form-align {
    text-align: center;
}

.seccion-imagen {
    margin-top: 50px;
    margin-bottom: 10px;
    width: 100%;
    height: 400px;
}

/*footer*/

.footer-margin {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
}

    .footer-imglogo2 {
            width: 50px;
            height: 50px;
        }
    
        .footer-teximg {
            display: flex;
            justify-content: space-around;
            background-color: $colorMarca;
        }
    
        .footer-teximg li {
            font-family: "Montserrat", sans-serif;
            font-size: 20px;
            color: rgb(96, 94, 94);
            font-weight: bold;
            display: flex;
            padding-top: 20px;
        }
    
        .footer-teximg li a {
            padding-left: 10px;
        }
                .footer-imglogo {
                    border-radius: 50%;
                    margin-bottom: 10px;
                    width: 50px;
                    height: 50px;
                    padding-top: 11px;
                    position: relative;
                    top: 0px;
                }
        
        
        
                .imagen-footer {
                    width: 50px;
                    height: 50px;
                }




