/*movil*/

@media screen and (max-width: 599px) {
    .main-propiedades-texto4 {
        color: rgb(96, 94, 94);
        font-size: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .textarea-style {
        height: 100px;
        margin-right: auto;
        margin-left: auto;
        width: 250px;
    }

    .imagen-float {
        float: none;
        filter: drop-shadow(7px 7px 7px rgb(147, 44, 62));
        padding-right: 20px;
        padding-top: 25px;
        width: 95%;
        height: 600px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .main-proptext-tituloa {
        color: black;
        font-size: 35px;
        font-family: "Pacifico", cursive;
        text-align: center;
        margin-bottom: 20px;
        text-decoration: underline;
    }

    .main-button2 {
        color: black;
        font-size: 20px;
        font-family: "Pacifico", cursive;
        background-color: rgb(216, 166, 191);
        border-radius: 10px;
        margin-left: auto;
        margin-top: 25px;
        margin-right: auto;
    }

    .imgintermain {
        width: 100%;
        height: 293px;
    }

    .main-propiedades-texto5 {
        color: black;
        font-size: 20px;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
            "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .main-propiedades-texto2 {
        color: black;
        font-size: 23px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
    }

    .seccion-imagen {
        margin-top: 50px;
        margin-bottom: 10px;
        width: 100%;
        height: 350px;
    }

    .main-propiedades-texto3 {
        color: rgb(220, 167, 194);
        font-size: 35px;
        font-family: "Pacifico", cursive;
        text-align: center;
        text-decoration: underline;
        margin-left: 15px;
    }

    p {
        color: black;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        text-align: justify;
        margin-bottom: 30px;
        padding-top: 30px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .main-imgformflex01 {
        display: none;
    }

    .img-central {
        width: 100%;
    }

    .header-title {
        font-family: "Pacifico", cursive;
        text-align: center;
        position: absolute;
        font-size: 40px;
        color: rgb(219, 175, 197);
        text-shadow: 5px, 5px, 5px rgb(77, 43, 48);
        /*?????????*/
    }

    .main-proptext-titulo {
        color: black;
        font-size: 35px;
        font-family: "Pacifico", cursive;
        text-align: center;
        padding-top: 11px;
        text-decoration: underline;
    }

    .class-nav {
        display: none;
        background-color: rgb(198, 177, 188);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        height: 100vh;
        width: 80%;
        padding-left: 15px;
    }

    .class-nav:target {
        display: block;
    }

    .class-head:target {
        display: block;
    }

    .class-head {
        display: none;
        background-color: rgb(185, 167, 201);
        position: fixed;
        top: 0;
        left: 0;
        align-items: center;
    }

    .header-menu {
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;

        height: 100vh;
    }

    .header-menu2 {
        gap: 20px;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        height: 100vh;
    }

    .main-form {
        background-color: rgb(198, 177, 188);
        border-style: solid;
        border-color: rgb(152, 144, 144);
        border-width: 3px;
        margin-top: 35px;
        border-left: none;
        border-right: none;
    }

    .form-input {
        height: 25px;
        width: 250px;
        margin-left: 10px;
    }

    .form-input01 {
        height: 25px;
        width: 250px;
        margin-left: 10px;
    }

    .div-jam {
        width: 100%;
        height: 40px;
        position: relative;
    }

    .a-JamIcon {
        font-size: 40px;
        position: absolute;
        display: block;
        text-decoration: none;
        position: absolute;
        right: 1px;
        top: 11px;
    }

    .class-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-teximg li {
        font-family: "Montserrat", sans-serif;
        font-size: 15px;
        color: rgb(96, 94, 94);
        padding-top: 20px;
    }

    .main-iframeflex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .proptext-catalogo {
        display: none;
    }

    .main-imagenes {
        border-radius: 25%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        border-top: 30px;
        filter: drop-shadow(7px 7px 7px rgb(146, 66, 79));
        padding-bottom: 30px;
        padding-bottom: 30px;
        display: block;
    }

    .main-propiedades-texto03 {
        color: rgb(129, 110, 120);
        font-size: 25px;
        font-family: "Pacifico", cursive;
        text-align: center;
    }

    .main-propiedades-texto005 {
        color: black;
        font-size: 45px;
        font-family: "Pacifico", cursive;
        text-align: center;
        margin-bottom: 40px;
        text-decoration: underline;
        padding-top: 70px;
    }

    .footer-imglogo {
        border-radius: 50%;
        margin-bottom: 10px;
        width: 50px;
        height: 50px;
        padding-top: 10px;
    }

    .main-propiedades-texto004 {
        color: rgb(96, 94, 94);
        font-size: 20px;
        font-family: "Pacifico", cursive;
        text-align: center;
    }

    .label-forma {
        margin-right: 10px;
        padding-left: 15px;
        width: 30%;
        display: inline-block;
    }

    .padreg {
        height: 480px;
    }

    .inputes {
        width: 34%;
        display: inline-block;
    }

    .header-div {
        background-color: rgb(215, 186, 201);
        position: relative;
        height: 60px;
    }

    .div-none {
        display: block;
        font-size: 40px;
        position: relative;

        top: 10px;
    }

    .a-JamIcona {
        font-size: 40px;
        display: block;
        text-decoration: none;
        position: absolute;
        right: 10px;
        top: 9px;
    }

    .main-proptext-titulo001 {
        color: black;
        font-size: 35px;
        font-family: "Pacifico", cursive;
        text-align: center;
        padding-top: 105px;
        text-decoration: underline;
        margin-bottom: 5px;
    }

    .main-propiedades-textoid {
        color: black;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        padding-top: none;
    }

    iframe {
        width: 100%;
        height: 315px;
        border-top-width: 0px;
        border-right-width: 0px;
        border-bottom-width: 0px;
        border-left-width: 0px;
    }

    .main-propiedades-texto05 {
        color: black;
        font-size: 25px;
        font-family: "Pacifico", cursive;
        text-align: center;
        margin-bottom: 5px;
        text-decoration: underline;
        padding-top: 90px;
    }

    p {
        color: black;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        text-align: center;
        margin-bottom: none;
        padding-top: none;
        margin-left: none;
        margin-right: none;
    }

    .padre-grid {
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(2, 180px);
        grid-template-areas:
            "img1"
            "img3";
    }

    .item-cerrado {
        display: block;

        font-size: 30px;
    }
}