$colorMarca: rgb(215, 184, 210);    
$fuenteMarca: "Pacifico", cursive;
$catalogostyle: (
    d1:linear-gradient(to right top,

        #d2a3c6,
        #dedadc,
        #d6abc1),
    d2: linear-gradient(to right top,

        #d2a3c6,
        #e1d5db,
        #d6abc1),
    d3: linear-gradient(to right top,

        #d2a3c6,
        #f3ebef,
        #d6abc1),
);

